.product-tile {
  text-align: center;
  font-weight: 300;

  &-image {
    position: relative;

    img {
      width: 100%;
    }

    .badge {
      position: absolute;
      top: 16px;
      right: 16px;
    }
  }

  h1 {
    font-size: 24px;
    line-height: 22px;

    span {
      &:first-child {
        color: $black;
      }
    }

    :nth-child(2) {
      font-weight: 300;
    }
  }

  h2 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
  }

  &-title {
    margin-top: 24px;
  }

  &-subtitle {
    margin-bottom: 16px;
  }

  &-pricing {
    margin-bottom: 24px;
    .product-price-regular {
      font-size: 18px;
      text-decoration: line-through;
      display: block;
    }

    .product-price {
      text-transform: uppercase;
      line-height: 29px;
      font-size: 24px;

      span {
        color: $brand-primary;
        font-weight: 500;
      }
    }
  }
}
